<div id="chat-container">
  <div id="message-box">
  </div>
  <div id="send-form">
    <form id="message-form" action="">
      <textarea name="message" id="text-field" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</div>
<script defer src="../js/onlineChat.js"></script>
