  <div id="main_cards-container">
    <div class="card infected-card">
      <div class="card-cont-wrap">
        <h3>Infected</h3>
        <h2 class="number infected"></h2>
        <h3 class="date"></h3>
        <p>Number of active cases of Covid-19</p>
      </div>
    </div>
    <div class="card recoveries-card">
      <div class="card-cont-wrap">
        <h3>Recovered</h3>
        <h2 class="number recovered"></h2>
        <h3 class="date">Date</h3>
        <p>Number of recoveries from Covid-19</p>
      </div>
    </div>
    <div class="card deaths-card">
      <div class="card-cont-wrap">
        <h3>Deaths</h3>
        <h2 class="number deaths"></h2>
        <h3 class="date"></h3>
        <p>Number of deaths caused by Covid-19</p>
      </div>
    </div>
  </div>
  <div id="main_select-container">
    <select name="countries" id="countries-dropdown">
      <option value="global">Global</option>
    </select>
  </div>
  <div id="main_charts-container">
    <canvas id="chart"></canvas>
  </div>
