<!DOCTYPE html>
<html>

<head>
  <title>Covid-19 Tracker</title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
    integrity="sha256-nZaxPHA2uAaquixjSDX19TmIlbRNCOrf5HO1oHl5p70=" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <img id="logo" src="../images/covid.png" alt="covid-19-logo">
    <div id="header_nav">
      {{#if user}}
      <a class="nav-link" href="/auth/logout">Logout</a>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/chat">Chat</a>
      {{else}}
      <a class="nav-link" href="/auth/signup">Signup</a>
      <a class="nav-link" href="/auth/login">Login</a>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/chat">Chat</a>
      {{/if}}
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
</body>

</html>
